html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    background-color: #444444;
    color: white;
}
body {
    height: 100%;
}
* {
    margin: 0;
    box-sizing: border-box;
}
section {
    border: 5px solid red;
    margin: 1em;
}
article {
    border: 5px solid yellow;
    margin: 1em;
}
header, footer {
    border: 5px solid blue;
    background-color: #eef;
}
header {
    border-bottom: none;
}
footer {
    border-top: none;
}
.libele {
    border: 5px solid green;
    background-color: #efe;
    
    
}