article.question {
  display: grid;
}
article.question header {
  display: grid;
  grid-template-columns: 2ch 1fr;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: larger;
}
article.question footer {
  font-size: smaller;
}

form.online article.question .body input[type=text] {
  width: 100%;
}

div.print {
  background-color: white;
  color: black;
  padding: 1em;
}
div.print .answer {
  margin-bottom: 0.25em;
}
div.print .answer .answer-line {
  border-bottom: 1px solid black;
  height: 1cm;
  display: flex;
  align-items: end;
  padding: 0 0.5ch;
}
div.print .answer .answer-line .solution {
  position: absolute;
  color: red;
}
@media print {
  div.print .answer .answer-line .solution {
    display: none;
  }
}
div.print .answer.box {
  border: 1px solid black;
}
div.print .answer.box .answer-line:last-child {
  border-bottom: none;
}

form.edition,
form.edition > fieldset {
  display: grid;
  gap: 0.5em;
}
form.edition.v1,
form.edition > fieldset.v1 {
  grid-template-columns: min-content 1fr;
}
form.edition.v1 > div,
form.edition > fieldset.v1 > div {
  display: contents;
}
form.edition, form.edition.v2,
form.edition > fieldset,
form.edition > fieldset.v2 {
  grid-template-columns: 1fr;
}
form.edition > div, form.edition.v2 > div,
form.edition > fieldset > div,
form.edition > fieldset.v2 > div {
  display: grid;
}
form.edition fieldset:has(legend.hidden) legend ~ *,
form.edition > fieldset fieldset:has(legend.hidden) legend ~ * {
  display: none;
}
form.edition label.hidden,
form.edition > fieldset label.hidden {
  border-bottom: 1px dotted white;
}
form.edition label.hidden + *,
form.edition > fieldset label.hidden + * {
  display: none;
}