APP_PATH="C:/Users/bo_ba/github/github_bobanum/kweez"

# Allowed IP addresses to access the application. Leave blank to allow all IP addresses.
RESTINPEACE_CLIENTS=74.59.113.134,https://bobanum.github.io/,http://bobanum.github.io/
# Path to the application. Leave blank to use "DOCUMENT_ROOT". Relative paths are allowed, and are relative to "DOCUMENT_ROOT"
RESTINPEACE_APP_PATH=.
# Path to the database. Leave blank to use "database". Relative paths are allowed, and are relative to APP_PATH
RESTINPEACE_DATABASE_PATH=database
# Path to the configuration file. Leave blank to use "config". Relative paths are allowed, and are relative to APP_PATH
RESTINPEACE_CONFIG_PATH=config
# Path to the log file. Leave blank to use "logs". Relative paths are allowed, and are relative to APP_PATH
RESTINPEACE_LOGS_PATH=logs
# Duration in seconds to cache the schema. Negative values disable caching. Default is 86400 (1 day)
RESTINPEACE_SCHEMA_CACHE=-1
RESTINPEACE_HIDE_SUFFIXED_VIEWS=false

DB_CONNECTION=sqlite
DB_PATH=${APP_PATH}/database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="kweez.sqlite|school.sqlite|oauth.sqlite"
DB_USERNAME=username
DB_PASSWORD=password

# Database connection string
AUTH_DB_NAME=${DB_PATH}/oauth.sqlite

# Azure (Microsoft) OAuth configuration
AZURE_CLIENT_ID=
# AZURE_CLIENT_SECRET_ID=
AZURE_CLIENT_SECRET=
AZURE_REDIRECT_URI=http://localhost:9999
AZURE_TENANT=
# AZURE_SCOPE=

# Github OAuth configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:9999
# GITHUB_SCOPE=

# Github OAuth configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:9999
# GOOGLE_SCOPE=

